{% extends '::base.html.twig' %}

{% block form -%}
    <h1>Редактирование задачи </h1>

    {{ form_start(edit_form,{'attr':{'class':'form-horizontal'}})}}
    {{ form_errors(edit_form) }}
    <div class="form-group">
        {{ form_label(edit_form.nametask,null,{'label_attr':{'class':'col-sm-3 control-label'}}) }}
        <div class="col-sm-6">{{ form_widget(edit_form.nametask,{attr:{'class':'form-control'}})}} </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.begintask,null,{'label_attr':{'class':'col-sm-3 control-label'}}) }}
        <div class="col-sm-6">{{ form_widget(edit_form.begintask,{attr:{'class':'form-control'}}) }} </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.endtask,null,{'label_attr':{'class':'col-sm-3 control-label'}}) }}
        <div class="col-sm-6">{{ form_widget(edit_form.endtask,{attr:{'class':'form-control'}}) }} </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.Category,null,{'label_attr':{'class':'col-sm-3 control-label'}}) }}
        <div class="col-sm-6">{{ form_widget(edit_form.Category,{attr:{'class':'form-control'}}) }} </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.description,null,{'label_attr':{'class':'col-sm-3 control-label'}}) }}
        <div class="col-sm-6">{{ form_widget(edit_form.description,{attr:{'class':'form-control'}}) }} </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.vajnoct,null,{'label_attr':{'class':'col-sm-3 control-label'}}) }}
        <div class="col-sm-6">{{ form_widget(edit_form.vajnoct,{attr:{'class':'form-control'}}) }} </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.final,null,{'label_attr':{'class':'col-sm-3 control-label'}}) }}
        <div class="col-sm-6">{{ form_widget(edit_form.final,{attr:{'class':'form-control'}}) }} </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">{{ form_row(edit_form.submit) }} </div>
    </div>
    {{form_end(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('task') }}">
            Вернуться к списку
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}

{% block JS %}
<script>
    $(document).ready(function(){

        $( "#task_begintask" ).datepicker({
                    monthNames:["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                    dayNamesMin:["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                    firstDay:1,
                    dateFormat:"dd.mm.yy",}
        );
        $( "#task_endtask" ).datepicker({monthNames:["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
            dayNamesMin:["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
            firstDay:1,
            dateFormat:"dd.mm.yy"});
        // TODO
        // написать валидацию полей
        // написать установку даты окочания работы что бы нельзя было ее установить позже даты начала //
    });

</script>

{% endblock %}