{% extends '::base.html.twig' %}

{% block form -%}
    <h1>Редактирование задачи </h1>

    {{ form_start(edit_form,{'attr':{'class':'form-horizontal'}})}}
    {{ form_errors(edit_form) }}
    <div class="form-group">
        {{ form_label(edit_form.name_task,null,{'label_attr':{'class':'col-sm-3 control-label'}}) }}
        <div class="col-sm-6">{{ form_widget(edit_form.name_task,{attr:{'class':'form-control'}})}} </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.begin_task,null,{'label_attr':{'class':'col-sm-3 control-label'}}) }}
        <div class="col-sm-6">{{ form_widget(edit_form.begin_task,{attr:{'class':'form-control'}}) }} </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.end_task,null,{'label_attr':{'class':'col-sm-3 control-label'}}) }}
        <div class="col-sm-6">{{ form_widget(edit_form.end_task,{attr:{'class':'form-control'}}) }} </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.Category,null,{'label_attr':{'class':'col-sm-3 control-label'}}) }}
        <div class="col-sm-6">{{ form_widget(edit_form.Category,{attr:{'class':'form-control'}}) }} </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.description,null,{'label_attr':{'class':'col-sm-3 control-label'}}) }}
        <div class="col-sm-6">{{ form_widget(edit_form.description,{attr:{'class':'form-control'}}) }} </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.vajnoct,null,{'label_attr':{'class':'col-sm-3 control-label'}}) }}
        <div class="col-sm-6">{{ form_widget(edit_form.vajnoct,{attr:{'class':'form-control'}}) }} </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.final,null,{'label_attr':{'class':'col-sm-3 control-label'}}) }}
        <div class="col-sm-6">{{ form_widget(edit_form.final,{attr:{'class':'form-control'}}) }} </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">{{ form_row(edit_form.submit) }} </div>
    </div>
    {{form_end(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('task') }}">
            Вернуться к списку
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
