{% extends '::base.html.twig' %}
{% block table %}
        <h1>Список активных задач </h1>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Наименование задачи </th>
                <th>Начало работы над задачей </th>
                <th>Окончание работы над задачей</th>
                <th>Дней до окончания</th>
                <th>Категория задачи</th>

            </tr>
        </thead>
        <tbody  class=":nth-child">
        {% for entity in entities %}
             <tr id="task">
                <td id="name"> <a href = "{{path('task_show',{ 'id': entity.id })}}"> {{entity.name_task}}</a></td>
                <td id="begin">{% if entity.begin_task %}{{ entity.begin_task|date('d.m.Y') }}{% endif %}</td>
                <td id="end">{% if entity.end_task %}{{ entity.end_task|date('d.m.Y') }}{% endif %}</td>
                <td id="diff"></td>
                <td></td>
             </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
      <li>
        <a href="{{ path('task_new') }}"> Создать новую задачу </a>
      </li>
    </ul>
{% endblock %}
{% block Category %}
    {% render(controller('HomeTaskBundle:Category:getCategory')) %}
        <!--  <h1>Категории</h1>

-->
{% endblock %}
{% block JS %}
<script>
    $(document).ready(function(){
            $("tr#task").each(function (i,val) {
                var begin=split_date(val.cells[2].textContent);
                var end=new Date();
                var diff= Math.round((begin.getTime() - end.getTime()) / 1000 / 60 / 60/ 24);
                val.cells[3].textContent=diff;
                if (diff<0) { val.setAttribute('class','danger')};
            })});
    function split_date(d){
        var split=d.split('.');
        return new Date(split[2],split[1]-1,split[0]);
    };
</script>
{% endblock %}